@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background:#E5E5E5;
    font-family: 'Poppins', sans-serif;
}

.title{
position: absolute;
width: 216px;
height: 52px;
left: 291px;
top: 120px;

font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 52px;

color: #164DB0;
}

.subtitle{
position: absolute;
width: 600px;
height: 20px;
left: 291px;
top: 180px;


font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;

color: #808080;
}
.Avatar{
    position: absolute;
    width: 72;
    height: 72px;
    left: 139px;
    top: 41px;
}

.Gmail{
    position: absolute;
    margin-top: 220px;
    margin-left: 56px;
    font-size: 11px;

color: #010101;
}
.Gmail2{
    position: absolute;
    margin-top: 235px;
    margin-left: 56px;
    font-size: 11px;
    color: #808080;
}
.Phone{
    position: absolute;
    margin-top: 220px;
    margin-left: 250px;
    font-size: 11px;

color: #010101;
}
.Phone2{
    position: absolute;
    margin-top: 235px;
    margin-left: 250px;
    font-size: 11px;
    color: #808080;
}
.rec1{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 28px;
    top: 279px;
background: rgba(200, 217, 248, 0.6);
border-radius: 8px;
}
.rec2{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 109px;
    top: 279px;
background: rgba(200, 217, 248, 0.6);
border-radius: 8px;
}
.rec3{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 193px;
    top: 279px;
background: rgba(200, 217, 248, 0.6);
border-radius: 8px;
}
.rec4{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 271px;
    top: 279px;
background: rgba(200, 217, 248, 0.6);
border-radius: 8px;
}
.brec1{
    position: absolute;
width: 296px;
height: 88px;
left: 28px;
top: 350px;

/* ui-base / 100 */

background: #F8F8FA;
/* ui-base / 300 */

border: 1px solid #E6E7E9;
border-radius: 12px;
}

.appointments{
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
    font-size: 11px;

color: #010101;
}

.Learn{
    position: absolute;
    margin-top: 40px;
    margin-left: 100px;
    font-size: 11px;
    color: #808080;
}

.num{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    color: #164DB0;
}

.num2{
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
    font-size: 15px;
    color: #FF8F00;
}


.brec2{
    
position: absolute;
width: 296px;
height: 98px;
left: 28px;
top: 450px;

/* ui-base / 100 */

background: #F8F8FA;
/* ui-base / 300 */

border: 1px solid #E6E7E9;
border-radius: 12px;
}
.box1{
    position: absolute;
width: 40px;
height: 40px;
left: 45px;
top: 20px;

background: #4A4DE6;
border-radius: 8px;
}
.box2{
position: absolute;
width: 40px;
height: 40px;
left: 45px;
top: 25px;
/* Amber / 700 */

background: #FFA000;
border-radius: 8px;
}

.data {
    background:#E5E5E5;
    height:185%;
    margin-left: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
}

nav {
    background: #ffffff;
    /* line-height: 80px; */
    position: fixed;
    width: 100%;
    height: 60px;
}

.name{
position: static;
width: 144px;
height: 26px;
left: 0px;
top: 0px;

font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 26px;
color: #010101;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px -14px;
}

.job{
    position: static;
width: 107px;
height: 20px;
left: 18.5px;
top: 34px;

/* H4 */

font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
font-size: 11px;
/* identical to box height, or 143% */


/* On Surface / Dark / Low-emphasis */

color: rgba(24, 24, 25, 0.42);


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: -13px -7px;
}

label {
    line-height: 80px;
    font-size: 30px;
    color: #164DB0;
    font-weight: 200;
    margin-left: 50px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: #CACCCF;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.badge {
    position:absolute;
    color: red;
    padding: 6px 15px;
    top:-20px;
    right:20px;
    border-radius: 50%;
   }

nav ul li a:hover {
    background-color:#164DB0 ;
    color:#ffffff ;
    transition: 0.5s;
}

.side-menu {
    position: fixed;
    background: #ffffff;
    width: 250px;
    height: 100%;
    margin-top: 80px;
}



.side-menu center h2 {
    color: white;
}

.side-menu a {
    display: block;
    line-height: 60px;
    transition: 0.5s;
}

.side-menu a:hover {
    background:#2359be;
    padding-left: 20px;
   color: white;
}

.side-menu span {
    font-size: 15px;
    margin-left: 10px;
    color: #414141;
}

.side-menu i {
    font-size: 15px;
    margin-left: 20px;
    color: #414141;
} 
nav .menu-bar {
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}

#menu {
    display: none;
}

.side-menu .Logout {
    display: none;
}

@media (max-width:850px) {
    .side-menu a span {
        display: none;
    }

    .side-menu center {
        display: none;
    }

    .side-menu {
        width: 250px;
    }

    .side-menu a i {
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }
}

.d1{
    position: absolute;
    width: 360px;
    height: 609px;
    left: 291px;
    top: 220px;
    
    background: #FFFFFF;
    border-radius: 10px;
}
.d2{
    position: absolute;
width: 735px;
height: 413px;
left: 667px;
top: 416px;

background: #FFFFFF;
border-radius: 10px;
}
.d3{
    position: absolute;
width: 234px;
height: 147px;
left: 667px;
top: 224px;

/* aa/1 */

border: 2px solid #164DB0;
box-sizing: border-box;
border-radius: 10px;
}

.d4{
    position: absolute;
width: 234px;
height: 147px;
left: 917px;
top: 224px;

/* white */

background: #FFFFFF;
/* aa/5 */

border: 0.5px solid #C8D9F8;
box-sizing: border-box;
border-radius: 10px;
}

.d5{
    position: absolute;
width: 234px;
height: 147px;
left: 1167px;
top: 224px;

background: #FFFFFF;
/* aa/5 */

border: 0.5px solid #C8D9F8;
box-sizing: border-box;
border-radius: 10px;
}

@media (max-width:650px) {
    .data {
        display: none;
    }

    nav ul {
        display: none;
    }
    
    .side-menu {
        width: 100%;
        text-align: center;
        left: 100%;
        background-color: #a5a2a2;
        transition: all 0.5s;
    }

    .side-menu a i {
        display: none;
    }

    .side-menu a span {
        display: block;
    }

    .side-menu .Logout {
        display: block;
    }

    nav .menu-bar {
        display: block;
    }
}

#menu:checked~.side-menu {
    left: 0;
}

.lastname{
    margin-left: 292px;
    margin-top: -80px;
}

.ID{
    margin-left: 292px;
    margin-top: -80px;
}
.un{
    margin-left: 292px;
    margin-top: -55px;
}

.btn-primary{
    color: #fff;
    position: absolute;
    width: 123px;
    height: 40px;
    left: 430px;
    top: 318px;
    background-color: #164DB0;
    border-radius: 9px;
}
.textd3{
    position: absolute;
width: 120px;
height: 20px;
left: 55px;
top: 99px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


/* aa/1 */

color: #164DB0;
}

.textd4{
    position: absolute;
width: 120px;
height: 20px;
left: 88px;
top: 99px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


/* aa/1 */

color:  #808080;
}

.textd5{
    position: absolute;
width: 120px;
height: 20px;
left: 80px;
top: 99px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


/* aa/1 */

color:  #808080;
}


.settings{
    position: absolute;
    width: 86px;
    height: 29px;
    left: 30px;
    top: 30px;
    
    /* H2 */
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    
    
    /* bb/2 */
    
    color: #2B2B2B;
}

.form{
    margin-left: 100px;
    margin-top: 40px;
}

.button{
    color: #164DB0;
    position: absolute;
    width: 123px;
    height: 40px;
    left: 300px;
    top: 320px;
    background-color: #ffffff;
    border-radius: 3px;
}

.search {
    display: block;
    margin-top: -56px;
    margin-left: 300;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f3f3f9;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}